.secondryBtn{
    background-color: var(--primaryColor);
}
.about{
    height: auto;
    overflow: hidden;
}

.about .secondryBtn{
    margin-right: 20px;
}

.about .heading{
    text-align: left;
    margin: 0;
}
.left{
    max-width: 35%;
}
.right{
    padding-top: 5rem;
    min-width: fit-content;
    max-width: 65%;
}