.service .box{
    background-color: var(--primaryBackground);
    padding: 35px;
}

.service{
    margin-top: 5rem;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.service i{
    color: var(--primaryColor);
}
.service h3{
    margin-top: 20px;
}
.ser-sec{
    padding-bottom: 2rem;
}

