.main-container{
    display: flex;
    height: 55vh;
    justify-content: center;
    align-items: end;
    margin-top: 3rem;

}

.cal-container{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    color: whitesmoke;
    background-color: rgba(136, 110, 44, 0.466);
    padding: 2rem 4rem;
    border: solid 1px rgb(199, 221, 0);
    border-radius: 5px;
    font-size: 1.3rem;
}

.weight-container,
.height-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    gap: 4px;
}
.btn-container{
    display: flex;
    justify-content: space-between;
}

button{
    background-color: rgba(255, 206, 146, 0.966);
    border: solid 2px whitesmoke;
    padding: 0.3rem 1rem;
    border-radius: 5px;
}

input{
    padding: 0.5rem 0;
    background-color: rgba(255, 251, 0, 0);
    border: none;
    border-bottom: solid 2px whitesmoke ;   
    caret-color: whitesmoke;
    color: white;
    font-size: 1.2rem; 
}

input::placeholder{
    color: rgba(243, 241, 241, 0.616);
}

input:focus{
    outline: none;
}

