.main-container{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-container{
    background-color: rgba(32, 0, 58, 0.315);
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border: solid 1px rgb(102, 255, 0);
    border-radius: 5px;
}

.pass-btn{
    color: white;
    background-color: rgb(115, 0, 168);
    padding: 0.2rem 0.8rem;
    border: solid 1px rgb(157, 255, 0);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;

}
.btn-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}